[submodule "STEAM/polynomial-interpolation"]
	path = STEAM/polynomial-interpolation
	url = https://github.com/architgupta93/polynomial-interpolation
	branch = master
[submodule "STEAM/src/device-models"]
	path = STEAM/src/device-models
	url = https://github.com/architgupta93/device-models
